.separator{
    position: absolute;
    width: 1px;
    height: 100%;
    background: #00df8267;
}

.separator:nth-child(1){
    left: 25%
}

.separator:nth-child(2){
    left: 50%
}

.separator:nth-child(3){
    left: 75%
}